<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koliba</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
</head>
<body>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>Koliba</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>@Resources.MenuHeader</h2>
            </div>
            <div id="reservations-content" class="col-md-4">
            </div>
            <div class="col-md-4">
                <h2>@Resources.ContactHeader</h2>
            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fons Dijkstra</p>
        </footer>
    </div>

    <script src="~/Scripts/Customer/reservations.js"></script>
</body>
</html>
